.main-div {
  display: flex;
  gap: 5rem;
  /* border: 1px solid black; */
  margin: 2rem;
}

.each-div {
  border: 1px solid black;
  font-size: 1.5em;
  background-color: aliceblue;
}

.card-title {
  font-size: 1.5em;
}

a {
  margin-top: 1.5em;
}
