@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
.App {
  margin: auto;
  text-align: center;
}

.App h1 {
  font-size: 3rem;
  padding: 1rem;
  background-color: aliceblue;
}
