.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #101820ff;
}
button {
  font-size: calc(10px + 2vmin);
}

.git-card {
  display: flex;
  gap: 2rem;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  width: 20vw;
  margin-bottom: 2rem;
  background-color: #f2aa4cff;
  margin: auto;
  margin-top: 2rem;
}

.git-card img {
  width: 100px;
}

.git-card div {
  font-size: 2rem;
}
h2 {
  color: white;
  font-size: 2rem;
}
