.navcont {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.lightcont {
  border: 1px solid lightgrey;
  background-color: lightseagreen;
  color: white;
}
.darkcont {
  border: 1px solid lblack;
  background-color: black;
  color: white;
}
.list ul {
  display: flex;
}
.list ul li {
  list-style-type: none;
  margin-left: 20px;
}
.btn button {
  margin-right: 10px;
  padding: 12px;
  background-color: lightgray;
  border-radius: 20px;
  border: 0;
}
.lightbtn {
  background-color: lightgray;
}
.darkbtn {
  background-color: black;
}
