* {
  margin: 0;
  padding: 0;
}

/* Navbar css */
.nav-li {
  display: flex;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

/* Home css */
.slide-img {
  width: 200px;
}

.home-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* product css */
.prod-img {
  width: 200px;
  height: 200px;
}

.card {
  margin: auto;
  margin-top: 1rem;
}

.products-div {
  margin: auto;
  text-align: center;
}
